body {
    font-family: Arial, Helvetica Neue, Helvetica, serif;
    color: #777;
    background: #777;
    width: 50%;
    font-size: 18px;
    padding: 35px;
    margin: auto;
}

header, nav, aside, section, footer {
    margin-left: 0 auto;
    margin-right: 0 auto;
    border: 1px;
    position: static;
    text-align: center;
    background: #ebebeb;
    margin-bottom: 1em;
    padding: 5px;
    width: 100%;
    
}

aside {
    position: absolute;
    float: right;
    width: 25%;
    margin-left: 25%;
    height: 167px;
    clear: both;
}

section {
    float: left;
    width: 45%;
    clear: both;
}

.small-section {
    width: 100%;
    clear: both;
}

.small-section-title {
    color: #ebebeb;
    background: #777;
    height: 100px;
}

.small-section-bits {
    width: 90%;
    height: 25px;
    color: #777;
    background: #ebebeb;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.small-section-bit3 {
    width: 90%;
    height: 25px;
    color: #777;
    background: #ebebeb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    clear: both;
}
